<div class="row">
  <div class="col-3 container mt-2">
    <form method="GET">
      <h2>Filters:</h2>
      <button type="submit" class="btn btn-primary">Apply Filters</button>
      <div class="row mt-2">
        <div class="col-12">
          <h4>Categories</h4>
          <ul class="list-group">
            <?php foreach ($filters["cats"] as $cat) {?>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>
                <input type="checkbox" name="categories[]" <?php echo $cat["checked"] ?> value="<?php echo $cat["category_id"] ?>">
                <?php echo $cat["name"] ?>
              </span>
              <span class="badge badge-primary badge-pill">
                <?php echo $cat["counter"] ?>
              </span>
            </li>
            <?php }?>
          </ul>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <h4>Options</h4>
          <ul class="list-group">
            <?php foreach ($filters["opts"] as $opt) {?>
            <li class="list-group-item d-flex flex-column justify-content-between align-items-left">
              <div class="pr-3 pl-1">
                <span><?php echo $opt["name"] ?></span>
                <span class="badge badge-primary badge-pill float-right">
                    <?php echo $opt["counter"] ?>
                  </span>
              </div>
              <ul class="list-group">
                <?php foreach ($opt["values"] as $val) { ?>
                <li li class="list-group-item d-flex justify-content-between align-items-center">
                  <span>
                      <input type="checkbox" name="options[<?php echo $opt["option_id"]?>][]" value="<?php echo $val["value"] ?>" <?php echo $val["checked"]?> >
                      <?php echo $val["value"] ?>
                    </span>
                  <span class="badge badge-primary badge-pill">
                      <?php echo $val["counter"] ?>
                    </span>
                </li>
                <?php } ?>
              </ul>
            </li>
            <?php }?>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="col-9 container mt-2">
    <h2>Search Results</h2>
    Results: <?php echo count($result["prods"]) ?>
    <?php foreach ($result["prods"] as $prd) {?>
    <div class="row mt-2">
      <div class="col-8">
        <div class="card p-2">
          <div class="card-title">
            <?php echo $prd->name ?>
          </div>
          <div class="card-text">
            <h6>Categories</h6>
            <ul>
              <?php foreach($result["pg_cats"][$prd->product_group] as $cat){?>
              <li>
                <?php echo $cat->name?>
              </li>
              <?php } ?>
            </ul>
            <h6>Options</h6>
            <ul>
              <?php foreach($result["prd_vals"][$prd->product_id] as $pval){?>
              <li>
                <?php echo $pval->name?>: <?php echo $pval->value?>
              </li>
              <?php } ?>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <?php }?>
  </div>
</div>
