<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">You can go ahead and check out the search page</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/search" role="button">Search</a>
    </p>
    <hr class="my-4">
    <p>Alternatively you can do some setups:</p>
    <p class="lead">
      <a class="btn btn-secondary btn-md" href="/categories" role="button">
        Categories</a>
      <a class="btn btn-secondary btn-md" href="/product_groups" role="button">
        Product Groups</a>
      <a class="btn btn-secondary btn-md" href="/options" role="button">
        Options</a>
      <a class="btn btn-secondary btn-md" href="/products" role="button">
        Products</a>
    </p>
  </div>
</div>
