<div class="p-2">
  <h3>New Option</h3>
<form method="POST" action="/options">
  <div class="row">
    <div class="form-group col-5 row">
      <label for="option_name" class="col-2 col-form-label">Name:</label>
      <div class="col-10">
        <input type="text" class="form-control" id="option_name" name="option_name">
      </div>
    </div>
    <div class="form-group col-5 row">
      <label for="option_type" class="col-2 col-form-label">Type:</label>
      <div class="col-10">
        <select type="text" class="form-control" id="option_type" name="option_type">
          <option value="num">Number</option>
          <option value="text">Text</option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>
</div>
<?php if (count($options)>0) {?>
<div class="p-2">
  <h3>All options</h3>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach($options as $opt) { ?>
    <tr>
      <td>
        <?php echo $opt->option_id ?>
      </td>
      <td>
        <?php echo $opt->name ?>
      </td>
      <td>
        <?php echo $opt->type ?>
      </td>
      <td>
        <form method="POST" action="/options/<?php echo $opt->option_id?>/delete">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>
    </tr>
    <?php } ?>
  </tbody>
</table>
</div>
<?php } ?>
