<div class="p-2">
  <h3>New Product Group</h3>
  <form method="POST" action="/product_groups">
    <div class="form-group row">
      <label for="product_group_name" class="col-2 col-form-label">Name:</label>
      <div class="col-10">
        <input type="text" class="form-control" id="product_group_name" name="product_group_name">
      </div>
    </div>
    <div class="form-group row">
      <label for="product_group_categories" class="col-2 col-form-label">Categories</label>
      <div class="col-10">
        <select multiple class="form-control" id="product_group_categories" name="product_group_categories[]">
          <?php foreach ($categories as $cat) {?>
          <option value="<?php echo $cat->category_id ?>">
            <?php echo $cat->name ?>
          </option>
          <?php }?>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="product_group_options" class="col-2 col-form-label">Options</label>
      <div class="col-10">
        <select multiple class="form-control" id="product_group_options" name="product_group_options[]">
          <?php foreach ($options as $opt) {?>
          <option value="<?php echo $opt->option_id ?>">
            <?php echo $opt->name ?> (type:
            <?php echo $opt->type ?>)
          </option>
          <?php }?>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
<?php if (count($product_groups) > 0) {?>
<div class="p-2">
  <h3>All Product Groups</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($product_groups as $pg) {?>
      <tr>
        <td>
          <?php echo $pg->product_group_id ?>
        </td>
        <td>
          <?php echo $pg->name ?>
        </td>
        <td>
          <form method="POST" action="/product_groups/<?php echo $pg->product_group_id ?>/delete">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      <?php }?>
    </tbody>
  </table>
</div>
<?php }?>
