<div class="p-2">
  <h3>New Categories</h3>
  <form method="POST" action="/categories" class="form-inline">
    <div class="form-group mb-2 mr-2">
      <label for="category_name" class="mr-2">Name:</label>
      <input type="text" class="form-control" id="category_name" name="category_name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Create</button>
  </form>
</div>
<?php if (count($categories)>0) {?>
<div class="p-2">
  <h3>All categories</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach($categories as $cat) { ?>
      <tr>
        <td>
          <?php echo $cat->category_id ?>
        </td>
        <td>
          <?php echo $cat->name ?>
        </td>
        <td>
          <form method="POST" action="/categories/<?php echo $cat->category_id?>/delete">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      <?php } ?>
    </tbody>
  </table>
</div>
<?php } ?>
