<div class="p-2">
  <h2>Product: <?php echo $product->name ?> (<a href="/products">all</a>)</h2>
</div>
<div class="p-2">
  <h3>Edit options:</h3>
  <form method="POST" action="/products/<?php echo $product->product_id ?>/options">
    <?php foreach ($option_vals as $oval) {?>
    <div class="form-group row">
      <label for="product_opt_<?php echo $oval["opt"]->option_id ?>" class="col-2 col-form-label">
        <?php echo $oval["opt"]->name ?>
      </label>
      <div class="col-10">
        <?php if ($oval["opt"]->type == "num") {?>
        <input type="number" class="form-control" id="product_opt_<?php echo $oval["opt"]->option_id ?>" name="product_opt_<?php echo $oval["opt"]->option_id ?>" min="0" step="0.01" value="<?php echo $oval["val"] ?>">
        <?php }?>
        <?php if ($oval["opt"]->type == "text") {?>
        <input type="text" class="form-control" id="product_opt_<?php echo $oval["opt"]->option_id ?>" name="product_opt_<?php echo $oval["opt"]->option_id ?>" value="<?php echo $oval["val"] ?>">
        <?php }?>
      </div>
    </div>
    <?php }?>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
