<div class="p-2">
  <h3>New Product</h3>
  <form method="POST" action="/products">
    <div class="form-group row">
      <label for="product_name" class="col-2 col-form-label">Name:</label>
      <div class="col-10">
        <input type="text" class="form-control" id="product_name" name="product_name">
      </div>
    </div>
    <div class="form-group row">
      <label for="product_name" class="col-2 col-form-label">Price:</label>
      <div class="col-10">
        <input type="number" class="form-control" id="product_name" name="product_price" min="0" step="0.01">
      </div>
    </div>
    <div class="form-group row">
      <label for="product_group" class="col-2 col-form-label">Product Group</label>
      <div class="col-10">
        <select class="form-control" id="product_group" name="product_group">
          <?php foreach($product_groups as $pg) { ?>
          <option value="<?php echo $pg->product_group_id ?>">
            <?php echo $pg->name ?>
          </option>
          <?php } ?>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
<?php if (count($products)>0) {?>
<div class="p-2">
  <h3>All Products</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Product Group</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <?php foreach($products as $pg) { ?>
      <tr>
        <td>
          <?php echo $pg->product_id ?>
        </td>
        <td>
          <?php echo $pg->name ?>
        </td>
        <td>
          <?php echo $pg->ProductGroups->name ?>
        </td>
        <td class="d-flex flex-row">
          <a href="/products/<?php echo $pg->product_id?>/options" class="btn btn-primary btn-sm">Edit Options</a>
          <form method="POST" action="/products/<?php echo $pg->product_id?>/delete">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      <?php } ?>
    </tbody>
  </table>
</div>
<?php } ?>
